.title {
	position: relative;
	margin-bottom: 15px;
	text-align: center;
	padding-top:80px;
}
.title:before {
	content: '';
	position: absolute;
	bottom: -5px;
	display: inline-block;
	width: 10%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #F06292;
	border-radius: 2px;
	
}
.heikin{
	float:left;
	font-size:11px;
	margin-left:180px;
}


.maxmin{
	float:right;
	font-size:13px;
	margin-right:150px;
	
}

.gurahu{
	width:600px;
	height:300px;
    padding: 0.5em 1em;
    margin: auto;
	margin-top: 50px;
    color: #F06292;
    background: white;
    border-top: solid 5px #F06292;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.heikin_{
	font-size:80px;
	color:#F06292;
	text-align:CENTER;
}

.fl_tw2{/*ボタンの背景*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #F06292;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.sns{
	text-align:CENTER;
	padding-top: 50px;
}
.fl_tw2 .fa-twitter {
    text-shadow: 2px 2px 0px #4287d6;
    font-size: 30px;
	
}

.fl_tw2 span {/*テキスト*/
  display:inline-block;
  transition: .5s;
  
}

.fl_tw2:hover span{/*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
  
}
 

